In [1]:
import pandas as pd
import numpy as np
import twitter
import tweepy
from tqdm import tqdm

In [2]:
df = pd.read_csv("ds/t4sa.tsv", sep='\t')

In [3]:
df.head()

                 TWID       NEG       NEU       POS
0  768096868504969216  0.049398  0.861395  0.089207
1  768097237620490241  0.028733  0.929554  0.041713
2  768097619281227776  0.006598  0.046810  0.946591
3  768097619285536768  0.032333  0.850945  0.116722
4  768097627686604801  0.008090  0.042331  0.949579

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1179957 entries, 0 to 1179956
Data columns (total 4 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   TWID    1179957 non-null  int64
 1   NEG     1179957 non-null  float64
 2   NEU     1179957 non-null  float64
 3   POS     1179957 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 36.0 MB

In [5]:
# # Twitter Authentication Keys
consumer_key = 'e3quFb7yTv8RJBfJtcsH172ey'
consumer_secret =  'SI8hYfTDQ6t90DVzk8saJlbp3Frz9eo0IWW9qCBK5JzgLj4ofa'
access_token = '724078891384582144-KG0kZkal2PbRFiXOQva8Uatull9qVRx'
access_token_secret = 'JWZlsm0KYB4vkjzc2CuJOkVaoym0L2Ts2lK9bBhSRMm3t'

In [6]:
# Twitter Authentication OAuth
try:
#     tw={
#     'Consumer Key': consumer_key,
#     'Consumer Secret': consumer_secret,
#     'Access Token': access_token,
#     'Access Token Secret': access_token_secret,
#    }
#     auth = twitter.oauth.OAuth(tw['Access Token'],
#                            tw['Access Token Secret'],
#                            tw['Consumer Key'],
#                            tw['Consumer Secret'])
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    api = tweepy.API(auth)
    
    print("Authentication Successful")
except :
    print("Error: Authentication Failed")

Authentication Successful

In [7]:
df['TWEET'] = None

In [8]:
df = df[:4000]

In [ ]:
for x in tqdm(range(len(df))):
    try:
        df['TWEET'][x] = api.get_status(df['TWID'][x]).text
        
    except Exception as e:
        df.drop(df.index[x])

  0%|                                                                                             | 2/10000 [00:01<2:21:23,  1.18it/s]C:\Users\Artemis\miniconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
 28%|████████████████████████▉                                                                 | 2777/10000 [41:25<2:26:58,  1.22s/it]

In [ ]:
df.head()

In [ ]:
df.to_csv('ds/t4sa-with-text.csv', index=False)

In [ ]:
df = pd.read_csv('ds/t4sa-with-text.csv')
df['SENTIMENT'] = None
df

In [ ]:
Empty = []
for x in tqdm(range(len(df))):
    if df['TWEET'][x] == None :
        Empty.append(x)

In [ ]:
df.describe()

In [ ]:
df = df.drop(Empty)

In [ ]:
df['SENTIMENT'] = None
df

In [ ]:
df['SENTIMENT'] = df[['NEG', 'NEU', 'POS']].max(axis=1)
df

In [ ]:
for x in range(len(df)) :
    if (df['NEG'][x] == df['SENTIMENT'][x]):
        df['SENTIMENT'][x] = 'negative'
    if (df['NEU'][x] == df['SENTIMENT'][x]):
        df['SENTIMENT'][x] = 'neutral'
    if (df['POS'][x] == df['SENTIMENT'][x]):
        df['SENTIMENT'][x] = 'positive'

df['SENTIMENT'].value_counts()

In [ ]:
df = pd.read_csv('ds/t4sa-with-text-with-labels.csv')